body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    gap: 13px;
    background-color: #272727;
    color: white;
    width: 100%;
    height: 36px;
}

#sup,
#ab,
#acc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #707070;
    transition: 0.7s;
}

#sup:hover,
#ab:hover,
#acc:hover {
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-top: 55px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 100px;
}

footer {
    background-image: url(../imgs/footer.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    color: #D7D7D7;
    height: 410px;
    background-color: #000000;
}

footer > p {
    margin-top: 5px;
}