body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    gap: 13px;
    background-color: #272727;
    color: white;
    width: 100%;
    height: 36px;
}

#sup,
#ab,
#acc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #707070;
    transition: 0.7s;
}

#sup:hover,
#ab:hover,
#acc:hover {
    color: white;
}

#logo {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 100%;
}

.info {
    display: flex;
}

#cart-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 65%;
    margin-top: 30px;
    margin-bottom: 398px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    width: 628px;
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 10px;
}

.cart-item p {
    margin: 0;
    font-size: 20px;
}

button {
    cursor: pointer;
}

.delete-btn {
    width: 20px;
    height: 20px;
    background-color: #D15700;
    color: white;
    border: none;
    border-radius: 100%;
    order: 1;
    margin-left: auto;
}

.delete-btn:hover {
    transform: scale(1.05);
    transition: .3s;
}

#total {
    width: 45%;
}

#sum {
    font-weight: 500;
    font-size: 28px;
}

#checkout {
    width: 175px;
    height: 35px;
    margin-top: 7px;
    margin-bottom: 150px;
    background-color: #6900bb;
    font-weight: 600;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 10px;
    transition: .3s;
}

#checkout:hover {
    transform: scale(1.05);
    transition: .3s;
}

footer {
    background-image: url(../imgs/footer.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    color: #D7D7D7;
    height: 410px;
    background-color: #000000;
}

footer > p {
    margin-top: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    font-size: 20px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width: 400px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}